
<section class="cad_container">
    <form class="cad-form" [formGroup]="alunoFormGroup">
        
        <label for="nome"  >Nome do Aluno</label>
        <input 
            [(ngModel)]="alunoEdit.nome"
            type="text"
            placeholder=""
            formControlName="nome"
            value="alunoEdit.nome"
        />
            <label class="cad-notas" for="nota1">Prova 1
                <input
                    [(ngModel)]="alunoEdit.nota1"
                    formControlName="nota1"
                    type="number"
                    min="0"
                    max="10"
                />
            </label>

        <label class="cad-notas" for="nota2">Prova 2
            <input
                [(ngModel)]="alunoEdit.nota2"
                formControlName="nota2"
                type="number"
                min="0"
                max="10"
            />
        </label>

        <label class="cad-notas" for="nota3">Prova 3
            <input
                [(ngModel)]="alunoEdit.nota3"
                formControlName="nota3"
                type="number"
                placeholder="Digite uma nota de 0 a 10"
                min="0"
                max="10"
            />
        </label>
        <button type="submit" [disabled]="(alunoFormGroup.invalid)" (click)="editarRegistro()">Salvar</button>
    </form>

</section>