
<section class="cad__container">
    <form class="cad-form" [formGroup]="alunoFormGroup" (submit)="adicionarRegistro()">
        
        <label for="nome" >Nome do Aluno</label>
        <input 
            name="nome"
            value="valueNome()"
            type="text"
            formControlName="nome"
            placeholder="Digite o nome do aluno"
            [class.valid]="alunoFormGroup.controls['nome'].valid"
            [class.invalid]="alunoFormGroup.controls['nome'].invalid && 
            (alunoFormGroup.controls['nome'].touched || alunoFormGroup.controls['nome'].dirty)"
        />
        <div *ngIf="alunoFormGroup.controls['nome'].invalid && 
        (alunoFormGroup.controls['nome'].touched || alunoFormGroup.controls['nome'].dirty)">
            <small class="error-message" *ngIf="alunoFormGroup.controls['nome'].hasError('minlength')">
                Esse campo precisa de no mínimo 20 caracteres!
            </small>
            <small class="error-message" *ngIf="alunoFormGroup.controls['nome'].hasError('required')">
                Esse campo precisa ser preenchido!
            </small>
        </div>
        


            <label class="cad-notas" for="nota1">Prova 1
                <input
                    name="nota1"
                    formControlName="nota1"
                    type="number"
                    placeholder="Digite uma nota de 0 a 10"
                    min="0"
                    max="10"
                />
            </label>

        <label class="cad-notas" for="nota2">Prova 2
            <input
                name="nota2"
                formControlName="nota2"
                type="number"
                placeholder="Digite uma nota de 0 a 10"
                min="0"
                max="10"
            />
        </label>

        <label class="cad-notas" for="nota3">Prova 3
            <input
                name="nota3"
                formControlName="nota3"
                type="number"
                placeholder="Digite uma nota de 0 a 10"
                min="0"
                max="10"
            />
        </label>
        <button type="submit" [disabled]="(alunoFormGroup.invalid)">Salvar</button>
    </form>

</section>