<section *ngIf="(this.bancoDeAlunos.length == 0)" class="alunos-lista">
    <h2>Não há nenhum aluno registrado.</h2>
</section>

<section *ngIf="(this.bancoDeAlunos.length != 0)" class="alunos-lista">
    <h2>Alunos Registrados</h2>
        <table class="table-registro">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Nota 1</th>
            <th>Nota 2</th>
            <th>Nota 3</th>
            <th>Média</th>
            <th>Situação</th>
            <th>Ações</th>
        </tr>
            <tr *ngFor="let aluno of bancoDeAlunos">
                <th>{{aluno.id}}</th>
                <th>{{aluno.nome}}</th>
                <th>{{aluno.nota1 | number : '1.2-2'}}</th>
                <th>{{aluno.nota2 | number : '1.2-2'}}</th>
                <th>{{aluno.nota3 | number : '1.2-2'}}</th>
                <th>{{aluno.media | number : '1.2-2'}}</th>
                <th>{{aluno.situacao}}</th>
                    <th>
                        <button type="button" (click)="deletarRegistro(aluno.id)">Excluir</button>
                    </th>
                    <th>
                        <button type="button" (click)="setId(aluno)">Editar</button>
                    </th>

            </tr>
    </table>
</section>