<section *ngIf="(this.bancoDeAlunos.length == 0)" class="alunos-lista">
    <h2>Não há nenhum aluno registrado.</h2>
</section>


<section *ngIf="(this.bancoDeAlunos.length != 0)">
<table class="table">
    <thead >
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Nota 1</th>
        <th scope="col">Nota 2</th>
        <th scope="col">Nota 3</th>
        <th scope="col">Média</th>
        <th scope="col">Situação</th>
      </tr>
    </thead>
    <tbody *ngFor="let aluno of bancoDeAlunos">
      <tr>
        <th scope="row">{{aluno.id}}</th>
        <td>{{aluno.nome}}</td>
        <td>{{aluno.nota1 | number : '1.2-2'}}</td>
        <td>{{aluno.nota2 | number : '1.2-2'}}</td>
        <td>{{aluno.nota3 | number : '1.2-2'}}</td>
        <td>{{aluno.media | number : '1.2-2'}}</td>
        <td>{{aluno.situacao}}</td>

        <td>
            <button class="btn btn-primary row" type="button" (click)="deletarRegistro(aluno.id)">Excluir</button>
        </td>
        <td>
            <button class="btn btn-primary row" type="button" (click)="setId(aluno)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>

</section>