
.error-message {
    color: red;
}

.valid {
    border: 1px solid var(--green);
}


.invalid {
    border: 1px solid red;
}

.invalid:focus {
	border-color: red;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

